services:
  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=pfb
      - POSTGRES_USER=pfb
      - POSTGRES_PASSWORD=pfbpass
    ports:
      - "5432:5432"
    volumes:
      - pfb_pg:/var/lib/postgresql/data

  api:
    build: ./backend
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - DATABASE_URL=postgresql+psycopg2://pfb:pfbpass@db:5432/pfb
    volumes:
      - ./backend:/app
    depends_on:
      - db
    ports:
      - "8000:8000"

  web:
    build: ./frontend
    environment:
      - VITE_API_URL=http://localhost:8000/api
    volumes:
      - ./frontend:/app
    depends_on:
      - api
    ports:
      - "5173:5173"

volumes:
  pfb_pg:
